@model AyealLibrary.Models.Entity.TblCategories
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategori Ekle</h2>

<form class="form-check" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="Name"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Kategori Ekle</button>
    </div>

</form>